.trainers {
    text-align: center;
    padding: 80px 0;
    color: #444444;
    background-image: url("../img/trophy.png");
    background-size: 400px;
    background-position: 120% 100%;
    background-repeat: no-repeat;
}

.trainers__title {
    margin-bottom: 40px;
}

.trainers__items {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trainers__item {
    width: 30%;
    margin-bottom: 20px;
}

.trainers__item-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}

.trainers__item-subtitle {
    margin: 2px 0 0;
    color: rgba(29,29,29,.6);
}

.trainers__item-info {
    font-size: 14px;
}